<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>test.Test3</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>f1</td>
<td>smoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>f5</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>f2</td>
<td>smoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>f4</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>f3</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>LaunchSuite</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>close</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>test.Test2</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>f5</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>f1</td>
<td>smoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>f2</td>
<td>smoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>f4</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>f3</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>LaunchSuite</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>close</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>test.Test1</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>f4</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>f1</td>
<td>smoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>f5</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>f2</td>
<td>smoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>f3</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>LaunchSuite</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>close</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
