<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>regression</td><td>Test1.f3(java.lang.String, java.lang.String)[pri:3, instance:test.Test1@55f3ddb1]<br/>Test1.f4(java.lang.String, java.lang.String)[pri:4, instance:test.Test1@55f3ddb1]<br/>Test1.f5(java.lang.String, java.lang.String)[pri:5, instance:test.Test1@55f3ddb1]<br/>Test2.f5(int, int)[pri:5, instance:test.Test2@7d9d1a19]<br/>Test3.f4(int, int)[pri:4, instance:test.Test3@548e7350]<br/>Test2.f4(int, int)[pri:4, instance:test.Test2@7d9d1a19]<br/>Test3.f5(int, int)[pri:5, instance:test.Test3@548e7350]<br/>Test2.f3(java.lang.String, java.lang.String)[pri:3, instance:test.Test2@7d9d1a19]<br/>Test3.f3(int, int)[pri:3, instance:test.Test3@548e7350]<br/></td></tr>
<tr><td>smoke</td><td>Test3.f1(int, int)[pri:1, instance:test.Test3@548e7350]<br/>Test3.f2(int, int)[pri:2, instance:test.Test3@548e7350]<br/>Test1.f1(java.lang.String, java.lang.String)[pri:1, instance:test.Test1@55f3ddb1]<br/>Test2.f2(int, int)[pri:2, instance:test.Test2@7d9d1a19]<br/>Test1.f2(java.lang.String, java.lang.String)[pri:2, instance:test.Test1@55f3ddb1]<br/>Test2.f1(java.lang.String, java.lang.String)[pri:1, instance:test.Test2@7d9d1a19]<br/></td></tr>
</table>
