<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f6e879">  <td>19/03/15 15:22:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.LaunchSuite()[pri:0, instance:test.Test1@55f3ddb1]">&gt;&gt;LaunchSuite</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>19/03/15 15:22:40</td>   <td>9470</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.LaunchSuite()[pri:0, instance:test.Test1@55f3ddb1]">&gt;&gt;LaunchSuite</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>19/03/15 15:22:49</td>   <td>17784</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.LaunchSuite()[pri:0, instance:test.Test1@55f3ddb1]">&gt;&gt;LaunchSuite</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>19/03/15 15:22:57</td>   <td>25950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.LaunchSuite()[pri:0, instance:test.Test1@55f3ddb1]">&gt;&gt;LaunchSuite</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>19/03/15 15:23:03</td>   <td>31923</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.LaunchSuite()[pri:0, instance:test.Test1@55f3ddb1]">&gt;&gt;LaunchSuite</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>19/03/15 15:23:11</td>   <td>40359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test2.LaunchSuite()[pri:0, instance:test.Test2@7d9d1a19]">&gt;&gt;LaunchSuite</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>19/03/15 15:23:19</td>   <td>48205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test2.LaunchSuite()[pri:0, instance:test.Test2@7d9d1a19]">&gt;&gt;LaunchSuite</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>19/03/15 15:23:26</td>   <td>55117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test2.LaunchSuite()[pri:0, instance:test.Test2@7d9d1a19]">&gt;&gt;LaunchSuite</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>19/03/15 15:23:35</td>   <td>63781</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test2.LaunchSuite()[pri:0, instance:test.Test2@7d9d1a19]">&gt;&gt;LaunchSuite</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>19/03/15 15:23:43</td>   <td>72111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test2.LaunchSuite()[pri:0, instance:test.Test2@7d9d1a19]">&gt;&gt;LaunchSuite</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>19/03/15 15:23:52</td>   <td>80752</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test3.LaunchSuite()[pri:0, instance:test.Test3@548e7350]">&gt;&gt;LaunchSuite</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>19/03/15 15:22:38</td>   <td>6806</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test1.close()[pri:0, instance:test.Test1@55f3ddb1]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>19/03/15 15:22:46</td>   <td>14863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test1.close()[pri:0, instance:test.Test1@55f3ddb1]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>19/03/15 15:22:54</td>   <td>23020</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test1.close()[pri:0, instance:test.Test1@55f3ddb1]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>19/03/15 15:23:02</td>   <td>31162</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test1.close()[pri:0, instance:test.Test1@55f3ddb1]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>19/03/15 15:23:08</td>   <td>37373</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test1.close()[pri:0, instance:test.Test1@55f3ddb1]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>19/03/15 15:23:17</td>   <td>45517</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test2.close()[pri:0, instance:test.Test2@7d9d1a19]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>19/03/15 15:23:25</td>   <td>54416</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test2.close()[pri:0, instance:test.Test2@7d9d1a19]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>19/03/15 15:23:32</td>   <td>60831</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test2.close()[pri:0, instance:test.Test2@7d9d1a19]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>19/03/15 15:23:40</td>   <td>69166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test2.close()[pri:0, instance:test.Test2@7d9d1a19]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>19/03/15 15:23:49</td>   <td>77802</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test2.close()[pri:0, instance:test.Test2@7d9d1a19]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>19/03/15 15:23:57</td>   <td>86490</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test3.close()[pri:0, instance:test.Test3@548e7350]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>19/03/15 15:22:38</td>   <td>6798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.f1(java.lang.String, java.lang.String)[pri:1, instance:test.Test1@55f3ddb1]">f1</td> 
  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>19/03/15 15:23:17</td>   <td>45515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.f1(java.lang.String, java.lang.String)[pri:1, instance:test.Test2@7d9d1a19]">f1</td> 
  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>19/03/15 15:23:57</td>   <td>86488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test3.f1(int, int)[pri:1, instance:test.Test3@548e7350]">f1</td> 
  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>19/03/15 15:22:46</td>   <td>14860</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.f2(java.lang.String, java.lang.String)[pri:2, instance:test.Test1@55f3ddb1]">f2</td> 
  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>19/03/15 15:23:25</td>   <td>54414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.f2(int, int)[pri:2, instance:test.Test2@7d9d1a19]">f2</td> 
  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>19/03/15 15:22:54</td>   <td>23017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.f3(java.lang.String, java.lang.String)[pri:3, instance:test.Test1@55f3ddb1]">f3</td> 
  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>19/03/15 15:23:32</td>   <td>60829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.f3(java.lang.String, java.lang.String)[pri:3, instance:test.Test2@7d9d1a19]">f3</td> 
  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>19/03/15 15:23:02</td>   <td>31158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.f4(java.lang.String, java.lang.String)[pri:4, instance:test.Test1@55f3ddb1]">f4</td> 
  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>19/03/15 15:23:40</td>   <td>69164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.f4(int, int)[pri:4, instance:test.Test2@7d9d1a19]">f4</td> 
  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>19/03/15 15:23:08</td>   <td>37370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.f5(java.lang.String, java.lang.String)[pri:5, instance:test.Test1@55f3ddb1]">f5</td> 
  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>19/03/15 15:23:49</td>   <td>77801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.f5(int, int)[pri:5, instance:test.Test2@7d9d1a19]">f5</td> 
  <td>main@1447689627</td>   <td></td> </tr>
</table>
