<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.testNG.Homework.AmazonLink</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckAllTxtMsg</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CheckTxtLinks</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CheckAllEditBoxes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CheckAllLinks</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CheckAllSelectBox</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CheckAllLinksWithImg</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CheckAllImages</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>launchbrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>quitbrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
