<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>AmazonHW</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="696690">  <td>19/01/12 01:18:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonLink.CheckAllImages()[pri:0, instance:com.testNG.Homework.AmazonLink@14bef66]">CheckAllImages</td> 
  <td>main@22885378</td>   <td></td> </tr>
<tr bgcolor="696690">  <td>19/01/12 01:18:19</td>   <td>-12163</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AmazonLink.launchbrowser()[pri:0, instance:com.testNG.Homework.AmazonLink@14bef66]">&gt;&gt;launchbrowser</td> 
<td>&nbsp;</td>  <td>main@22885378</td>   <td></td> </tr>
<tr bgcolor="696690">  <td>19/01/12 01:18:38</td>   <td>6434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AmazonLink.quitbrowser()[pri:0, instance:com.testNG.Homework.AmazonLink@14bef66]">&lt;&lt;quitbrowser</td> 
<td>&nbsp;</td>  <td>main@22885378</td>   <td></td> </tr>
</table>
