<h2>Methods that were not run</h2><table>
<tr><td>com.testNG.Homework.AmazonLink.CheckAllTxtMsg</td></tr>
<tr><td>com.testNG.Homework.AmazonLink.CheckAllEditBoxes</td></tr>
<tr><td>com.testNG.Homework.AmazonLink.CheckAllLinks</td></tr>
<tr><td>com.testNG.Homework.AmazonLink.CheckAllSelectBox</td></tr>
<tr><td>com.testNG.Homework.AmazonLink.CheckAllLinksWithImg</td></tr>
<tr><td>com.testNG.Homework.AmazonLink.CheckTxtLinks</td></tr>
</table>