<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Smoke Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f76cb4">  <td>19/04/15 23:47:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;smoke.beforeMethod()[pri:0, instance:com.amazon.salesapplication.smoke@224edc67]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>19/04/15 23:47:31</td>   <td>94</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="smoke.f()[pri:0, instance:com.amazon.salesapplication.smoke@224edc67]">f</td> 
  <td>main@1497973285</td>   <td></td> </tr>
</table>
