<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dc63ce">  <td>19/01/27 20:34:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;regression.beforeMethod()[pri:0, instance:com.amazon.salesapplication.regression@18355a8]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="dc63ce">  <td>19/01/27 20:35:04</td>   <td>17724</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="regression.f()[pri:0, instance:com.amazon.salesapplication.regression@18355a8]">f</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="dc63ce">  <td>19/01/27 20:35:08</td>   <td>22377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;regression.afterMethod()[pri:0, instance:com.amazon.salesapplication.regression@18355a8]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
</table>
