<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b56481">  <td>19/02/21 16:10:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGexample.f(int, java.lang.String, int)[pri:0, instance:TestNGexample@573f2bb1]">f</td> 
  <td>main@1547425104</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>19/02/21 16:10:50</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGexample.f(int, java.lang.String, int)[pri:0, instance:TestNGexample@573f2bb1]">f</td> 
  <td>main@1547425104</td>   <td></td> </tr>
</table>
