<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69b199">  <td>19/03/16 09:40:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageLinks.after()[pri:0, instance:com.crm.qa.testCases.HomePageLinks@91161c7]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@1847509784</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>19/03/16 09:39:22</td>   <td>-86392</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageLinks.before()[pri:0, instance:com.crm.qa.testCases.HomePageLinks@91161c7]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@1847509784</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>19/03/16 09:39:34</td>   <td>-74542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageLinks.printLinks()[pri:0, instance:com.crm.qa.testCases.HomePageLinks@91161c7]">printLinks</td> 
  <td>main@1847509784</td>   <td></td> </tr>
</table>
