<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Homework</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="cd8797">  <td>19/01/20 01:29:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoPar.f(java.lang.String)[pri:0, instance:com.testNG.Homework.DemoPar@8b7f67]">f</td> 
  <td>TestNG@16043231</td>   <td></td> </tr>
<tr bgcolor="cd8797">  <td>19/01/20 01:29:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoPar.f(java.lang.String)[pri:0, instance:com.testNG.Homework.DemoPar@15be6bb]">f</td> 
  <td>TestNG@12614692</td>   <td></td> </tr>
<tr bgcolor="cd8797">  <td>19/01/20 01:29:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoPar.f(java.lang.String)[pri:0, instance:com.testNG.Homework.DemoPar@135b478]">f</td> 
  <td>TestNG@7197570</td>   <td></td> </tr>
</table>
