<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a097cc">  <td>19/03/04 21:42:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeMethod()[pri:0, instance:UtilMethods.NewTest@2b98378d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>19/03/04 21:42:49</td>   <td>21315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.f()[pri:0, instance:UtilMethods.NewTest@2b98378d]">f</td> 
  <td>main@1497973285</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>19/03/04 21:42:50</td>   <td>21891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.AfterMethod()[pri:0, instance:UtilMethods.NewTest@2b98378d]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@1497973285</td>   <td></td> </tr>
</table>
