<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fa9491">  <td>20/01/05 13:13:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestGoogle.beforeClass()[pri:0, instance:testNGBasics.TestGoogle@31368b99]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1287934450</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>20/01/05 13:13:31</td>   <td>5148</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGoogle.testTitle()[pri:0, instance:testNGBasics.TestGoogle@31368b99]">testTitle</td> 
  <td>main@1287934450</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>20/01/05 13:13:31</td>   <td>5169</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestGoogle.afterClass()[pri:0, instance:testNGBasics.TestGoogle@31368b99]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1287934450</td>   <td></td> </tr>
</table>
