<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a48474">  <td>19/02/16 20:59:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginErrorMsg.CheckErrMsg()[pri:0, instance:com.bootcamp.test.ebay.LoginErrorMsg@77caeb3e]">CheckErrMsg</td> 
  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>19/02/16 20:59:59</td>   <td>20625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginErrorMsg.CloseTheBrowser()[pri:0, instance:com.bootcamp.test.ebay.LoginErrorMsg@77caeb3e]">&lt;&lt;CloseTheBrowser</td> 
<td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>19/02/16 20:59:31</td>   <td>-6954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginErrorMsg.LaunchTheBrowser()[pri:0, instance:com.bootcamp.test.ebay.LoginErrorMsg@77caeb3e]">&gt;&gt;LaunchTheBrowser</td> 
<td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
</table>
