<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>regression</td><td>NewTest.test3()[pri:0, instance:test.NewTest@55f3ddb1]<br/></td></tr>
<tr><td>smoke</td><td>NewTest.test2()[pri:0, instance:test.NewTest@55f3ddb1]<br/></td></tr>
</table>
