<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85796e">  <td>19/03/15 17:49:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterClass()[pri:0, instance:test.NewTest@55f3ddb1]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@333362446</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/03/15 17:49:22</td>   <td>-31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:test.NewTest@55f3ddb1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@333362446</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/03/15 17:49:22</td>   <td>-24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:test.NewTest@55f3ddb1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@333362446</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/03/15 17:49:22</td>   <td>-19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:test.NewTest@55f3ddb1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@333362446</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/03/15 17:49:22</td>   <td>-11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:test.NewTest@55f3ddb1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@333362446</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/03/15 17:49:22</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:test.NewTest@55f3ddb1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@333362446</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/03/15 17:49:22</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:test.NewTest@55f3ddb1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@333362446</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/03/15 17:49:22</td>   <td>52</td> <td title="&lt;&lt;NewTest.afterSuite()[pri:0, instance:test.NewTest@55f3ddb1]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@333362446</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/03/15 17:49:22</td>   <td>4</td> <td>&nbsp;</td><td title="&lt;&lt;NewTest.afterTest()[pri:0, instance:test.NewTest@55f3ddb1]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@333362446</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/03/15 17:49:22</td>   <td>-66</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeClass()[pri:0, instance:test.NewTest@55f3ddb1]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@333362446</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/03/15 17:49:22</td>   <td>-53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeMethod()[pri:0, instance:test.NewTest@55f3ddb1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@333362446</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/03/15 17:49:22</td>   <td>-30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeMethod()[pri:0, instance:test.NewTest@55f3ddb1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@333362446</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/03/15 17:49:22</td>   <td>-23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeMethod()[pri:0, instance:test.NewTest@55f3ddb1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@333362446</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/03/15 17:49:22</td>   <td>-17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeMethod()[pri:0, instance:test.NewTest@55f3ddb1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@333362446</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/03/15 17:49:22</td>   <td>-10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeMethod()[pri:0, instance:test.NewTest@55f3ddb1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@333362446</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/03/15 17:49:22</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeMethod()[pri:0, instance:test.NewTest@55f3ddb1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@333362446</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/03/15 17:49:22</td>   <td>-90</td> <td title="&gt;&gt;NewTest.beforeSuite()[pri:0, instance:test.NewTest@55f3ddb1]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@333362446</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/03/15 17:49:22</td>   <td>-78</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeTest()[pri:0, instance:test.NewTest@55f3ddb1]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@333362446</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/03/15 17:49:22</td>   <td>-52</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.test1()[pri:0, instance:test.NewTest@55f3ddb1]">test1</td> 
  <td>main@333362446</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/03/15 17:49:22</td>   <td>-30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.test1()[pri:0, instance:test.NewTest@55f3ddb1]">test1</td> 
  <td>main@333362446</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/03/15 17:49:22</td>   <td>-22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.test1()[pri:0, instance:test.NewTest@55f3ddb1]">test1</td> 
  <td>main@333362446</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/03/15 17:49:22</td>   <td>-17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.test1()[pri:0, instance:test.NewTest@55f3ddb1]">test1</td> 
  <td>main@333362446</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/03/15 17:49:22</td>   <td>-9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.test2()[pri:0, instance:test.NewTest@55f3ddb1]">test2</td> 
  <td>main@333362446</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>19/03/15 17:49:22</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.test3()[pri:0, instance:test.NewTest@55f3ddb1]">test3</td> 
  <td>main@333362446</td>   <td></td> </tr>
</table>
