<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SignIn Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f8966d">  <td>19/01/27 23:13:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DemoRegister.beforeMethod()[pri:0, instance:com.sample.demoaut.DemoRegister@1fa1d9b]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@25187864</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>19/01/27 23:13:13</td>   <td>8107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoRegister.f()[pri:0, instance:com.sample.demoaut.DemoRegister@1fa1d9b]">f</td> 
  <td>main@25187864</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>19/01/27 23:13:17</td>   <td>12308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DemoRegister.afterMethod()[pri:0, instance:com.sample.demoaut.DemoRegister@1fa1d9b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@25187864</td>   <td></td> </tr>
</table>
