<h2>Reporter output</h2><table><tr><td>Failed test isnull</td></tr>
<tr><td><br><img src='C:\Users\asadu\Documents\PNT\screenshoot\1555698991449.jpg'height ='400' width = '400'/><br></td></tr>
<tr><td>Failed test isnull</td></tr>
<tr><td><br><img src='C:\Users\asadu\Documents\PNT\screenshoot\1555698994857.jpg'height ='400' width = '400'/><br></td></tr>
</table>