<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="da9d60">  <td>19/01/30 22:09:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;demoaut.beforeMethod()[pri:0, instance:com.test.pages.demoaut@123064f]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@7923025</td>   <td></td> </tr>
<tr bgcolor="da9d60">  <td>19/01/30 22:09:41</td>   <td>9813</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="demoaut.f()[pri:0, instance:com.test.pages.demoaut@123064f]">f</td> 
  <td>main@7923025</td>   <td></td> </tr>
<tr bgcolor="da9d60">  <td>19/01/30 22:09:43</td>   <td>11679</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;demoaut.afterMethod()[pri:0, instance:com.test.pages.demoaut@123064f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@7923025</td>   <td></td> </tr>
</table>
