<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6a9f77">  <td>19/03/16 00:56:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AmazonHW.beforeMethod()[pri:0, instance:com.testNG.Homework.AmazonHW@396a51ab]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1181199958</td>   <td></td> </tr>
<tr bgcolor="6a9f77">  <td>19/03/16 00:56:13</td>   <td>10229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonHW.CheckAllLinks()[pri:0, instance:com.testNG.Homework.AmazonHW@396a51ab]">CheckAllLinks</td> 
  <td>main@1181199958</td>   <td></td> </tr>
<tr bgcolor="6a9f77">  <td>19/03/16 00:58:17</td>   <td>134065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AmazonHW.afterMethod()[pri:0, instance:com.testNG.Homework.AmazonHW@396a51ab]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1181199958</td>   <td></td> </tr>
</table>
