<h2>Reporter output</h2><table><tr><td>https://www.amazon.com/spark/?_encoding=UTF8&ref_=nav_upnav_merged_T1_GatewayLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/ref=nav_logoLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/prime?ref=nav_logo_prime_joinLink has text - Try Prime===>OK</td></tr>
<tr><td>http://www.amazon.com/dp/B077SXWSRP/ref=ods_gw_ha_DT_swm_en_030419/ref=nav_swm_ods_gw_swm_ha_d?pf_rd_p=01ebd071-8cfe-44c1-bc73-b72b40bdbc56&pf_rd_s=nav-sitewide-msg&pf_rd_t=4201&pf_rd_i=navbar-4201&pf_rd_m=ATVPDKIKX0DER&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pf_rd_p=01ebd071-8cfe-44c1-bc73-b72b40bdbc56Link has text - ===>Moved Permanently</td></tr>
<tr><td>https://www.amazon.com/prime/ref=nav_tooltip_redirect/139-3602337-8540752Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/navigation/redirector.html/ref=sign-in-redirect?ie=UTF8&associationHandle=usflex&currentPageURL=https%3A%2F%2Fwww.amazon.com%2F%3Fref_%3Dnav_signin&pageType=Gateway&switchAccount=&yshURL=https%3A%2F%2Fwww.amazon.com%2Fgp%2Fyourstore%2Fhome%3Fie%3DUTF8%26ref_%3Dnav_signinLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/ap/register?_encoding=UTF8&openid.assoc_handle=usflex&openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.mode=checkid_setup&openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&openid.ns.pape=http%3A%2F%2Fspecs.openid.net%2Fextensions%2Fpape%2F1.0&openid.pape.max_auth_age=0&openid.return_to=https%3A%2F%2Fwww.amazon.com%2Fgp%2Fyourstore%2Fhome%3Fie%3DUTF8%26ref_%3Dnav_newcustLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/registry/wishlist?ie=UTF8&ref_=nav_wishlist_create&triggerElementID=createListLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/registry/search?ie=UTF8&ref_=nav_wishlist_findLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/gcx/Gifts-for-Adults/gfhz/?_encoding=UTF8&ref_=nav_wishlist_gfLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/BIT?ie=UTF8&bitCampaignCode=a0032&ref_=nav_wishlist_bit_v2_a0032Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/wedding/home?_encoding=UTF8&ref_=nav_wishlist_wrLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/baby-reg/homepage?_encoding=UTF8&ref_=nav_wishlist_brLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/gift-central/organizer?ie=UTF8&ref_=nav_wishlist_fafgiftLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/clpf?ie=UTF8&ref_=nav_wishlist_smi_se_ya_lll_llLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/pantry/yourlists?ie=UTF8&ref_=nav_wishlist_pntry_gnoLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/stream/saves/items?_encoding=UTF8&ref_=nav_wishlist_strm_in_youtique_listsLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/ideas?_encoding=UTF8&ref_=nav_wishlist_idea_navLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/showroom?_encoding=UTF8&ref_=nav_wishlist_srm_your_desk_wlLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/discover/?_encoding=UTF8&ref_=nav_wishlist_sblLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/stylequiz/?_encoding=UTF8&ref_=nav_wishlist_sq_ya_ylLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/css/homepage.html?ie=UTF8&ref_=nav_youraccount_yaLink has text - ===>Forbidden</td></tr>
<tr><td>https://www.amazon.com/gp/css/order-history?ie=UTF8&ref_=nav_youraccount_ordersLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/registry/wishlist?ie=UTF8&ref_=nav_youraccount_wl&requiresSignIn=1Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/yourstore?ie=UTF8&ref_=nav_youraccount_recsLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/subscribe-and-save/manager/viewsubscriptions?ie=UTF8&ref_=nav_youraccount_snsLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/yourmembershipsandsubscriptions?_encoding=UTF8&ref_=nav_youraccount_digital_subscriptionsLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/localservices/ya/servicerequests?_encoding=UTF8&ref_=nav_youraccount_desktop_vas_requestlistLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/subs/primeclub/account/homepage.html?ie=UTF8&ref_=nav_youraccount_primeLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/your-garage/?ie=UTF8&ref_=nav_youraccount_au_pf_as_GNOLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/fanshop?_encoding=UTF8&ref_=nav_youraccount_yfsLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/yourpets?_encoding=UTF8&ref_=nav_youraccount_pet_profilesLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/b/?_encoding=UTF8&ld=AZUSSOA-yaflyout&node=12766669011&ref_=nav_youraccount_nav_cs_sellLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/b?ie=UTF8&node=11261610011&ref_=nav_youraccount_b2b_regLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Credit-Cards/b?ie=UTF8&node=1266766011&ref_=nav_youraccount_ccLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/mn/dcw/myx.html?_encoding=UTF8&ref_=nav_youraccount_mykLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/dmusic/mp3/player?ie=UTF8&ref_=nav_youraccount_cldplyrLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/photos?_encoding=UTF8&ref_=nav_youraccount_primephotosLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/clouddrive?_encoding=UTF8&ref_=nav_youraccount_clddrvLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Prime-Instant-Video/s/browse?_encoding=UTF8&node=2676882011&ref_=nav_youraccount_pivLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/kindle/ku/ku_central?ie=UTF8&ref_=nav_youraccount_kuLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/video/watchlist?ie=UTF8&ref_=nav_youraccount_ywlLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/video/library?ie=UTF8&ref_=nav_youraccount_yvlLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/mas/your-account/myapps?ie=UTF8&ref_=nav_youraccount_aadLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/navigation/redirector.html/ref=sign-in-redirect?ie=UTF8&associationHandle=usflex&currentPageURL=https%3A%2F%2Fwww.amazon.com%2F%3Fref_%3Dnav_custrec_signin&pageType=Gateway&switchAccount=&yshURL=https%3A%2F%2Fwww.amazon.com%2Fgp%2Fyourstore%2Fhome%3Fie%3DUTF8%26ref_%3Dnav_custrec_signinLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/ap/register?_encoding=UTF8&openid.assoc_handle=usflex&openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.mode=checkid_setup&openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&openid.ns.pape=http%3A%2F%2Fspecs.openid.net%2Fextensions%2Fpape%2F1.0&openid.pape.max_auth_age=0&openid.return_to=https%3A%2F%2Fwww.amazon.com%2Fgp%2Fyourstore%2Fhome%3Fie%3DUTF8%26ref_%3Dnav_custrec_newcustLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/customer-preferences/select-language/ref=topnav_lang?preferencesReturnUrl=%2FLink has text - EN
 ===>OK</td></tr>
<tr><td>https://www.amazon.com/ap/signin?openid.pape.max_auth_age=0&openid.return_to=https%3A%2F%2Fwww.amazon.com%2F%3Fref_%3Dnav_ya_signin&openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.assoc_handle=usflex&openid.mode=checkid_setup&openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&Link has text - Hello, Sign in
Account & Lists===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/css/order-history?ref_=nav_orders_firstLink has text - Orders===>OK</td></tr>
<tr><td>https://www.amazon.com/prime?ref_=nav_prime_try_btnLink has text - Try Prime===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/cart/view.html?ref_=nav_cartLink has text - Cart
0===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/yourstore/home?ref_=nav_cs_ysLink has text - Your Amazon.com===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/goldbox?ref_=nav_cs_gb_azlLink has text - Today's Deals===>OK</td></tr>
<tr><td>https://www.amazon.com/gift-cards/b/?ie=UTF8&node=2238192011&ref_=nav_cs_gift_cardsLink has text - Gift Cards===>OK</td></tr>
<tr><td>https://www.amazon.com/wholefoods?ref_=nav_cs_whole_foodsLink has text - Whole Foods===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/browse.html?node=16115931011&ref_=nav_cs_registryLink has text - Registry===>OK</td></tr>
<tr><td>https://www.amazon.com/b/?_encoding=UTF8&ld=AZUSSOA-sell&node=12766669011&ref_=nav_cs_sellLink has text - Sell===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/gp/help/customer/display.html?nodeId=508510&ref_=nav_cs_helpLink has text - Help===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/help/customer/accessibilityLink has text - ===>Forbidden</td></tr>
<tr><td>https://www.amazon.com/accessLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/#Link has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/b?node=16205654011&pf_rd_p=bffc0be5-5c2d-4530-b025-f4ef01264ef6&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/dmusic/promotions/AmazonMusicUnlimited?ref=dmm_gw_herh_Koth_T1_0301&pf_rd_p=72949fb9-f6df-4a28-9f87-9c5620ec5654&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/dp/B0792K2BK6/ref=ods_gw_ha_h1_d_dt_030319?pf_rd_p=9cc01450-f059-4f6e-b97c-d125e92dd185&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/b/ref=af_gw_dhero_m_xgl_wearnow?node=18663289011&pf_rd_p=268aefc5-0ef0-4801-8477-cb260afaa346&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/dp/B07FNWN7K8/ref=dvm_us_or_cs_sh_unr_112HC?pf_rd_p=d8af70d6-6854-41d8-b5a9-d37bc9b20f18&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/dp/B06XZWHBJ4/ref=ods_gw_vicc_blnk_eg_h4_d_otdr_q1_2019_tpr2?pf_rd_p=030b2298-3f01-4781-bb2e-887a8727b9af&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/#Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Low-Price-With-Free-Shipping/bbp?category=/electronics&ref_=bbp_bb_a77114_in_db_w_rc_en_US&ingressAsins=B00B3JFDTU&pf_rd_p=e7e43364-b3d9-44bc-a85b-12e7178c77cf&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Low-Price-With-Free-Shipping/bbp?category=/electronics&ref_=bbp_bb_a77114_in_db_w_rc_en_US&ingressAsins=B00B3JFDTU&pf_rd_p=e7e43364-b3d9-44bc-a85b-12e7178c77cf&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - See more===>OK</td></tr>
<tr><td>https://www.amazon.com/b?node=12653393011&pf_rd_p=41d427d6-88bb-4ea6-9338-6c338d89095e&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/b?node=12653393011&pf_rd_p=41d427d6-88bb-4ea6-9338-6c338d89095e&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - See more from Renewed===>OK</td></tr>
<tr><td>https://www.amazon.com/b/ref=af_gw_dtop_w_sho_win3?node=679337011&pf_rd_p=854eb2b2-a120-4dcd-bddc-3bc1a7ebbffd&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/b/ref=af_gw_dtop_w_sho_win3?node=679337011&pf_rd_p=854eb2b2-a120-4dcd-bddc-3bc1a7ebbffd&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - Shop now===>OK</td></tr>
<tr><td>https://www.amazon.com/ap/signin?openid.return_to=https%3A%2F%2Fwww.amazon.com%2Fref%3Dgw_sgn_ib%2F139-3602337-8540752&openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.assoc_handle=usflex&openid.mode=checkid_setup&marketPlaceId=ATVPDKIKX0DER&openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&Link has text - Sign in securely===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/prime/ref=nav_prime_ajax_err/139-3602337-8540752Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/redirect.html/ref=br_msw_smr/139-3602337-8540752?location=https://www.amazon.com/goldbox&token=117FFF78ED3EACD775C88DB726470DC873C0F904&source=standards&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pf_rd_t=36701&pf_rd_p=182628c5-bc31-4d16-a82d-3758ab4ea7a9&pf_rd_i=desktopLink has text - See all deals===>OK</td></tr>
<tr><td>https://www.amazon.com/Etekcity-Portable-Camping-Lantern-Batteries/dp/B01C5QSENQ/ref=br_msw_pdt-1/139-3602337-8540752?_encoding=UTF8&smid=A99MZGWBBIGK9&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pf_rd_t=36701&pf_rd_p=182628c5-bc31-4d16-a82d-3758ab4ea7a9&pf_rd_i=desktopLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/apb/page/ref=br_msw_pdt-2/139-3602337-8540752?_encoding=UTF8&deals=b29589e6&handlerName=OctopusDealLandingStream&marketplaceId=ATVPDKIKX0DER&showVariations=false&smid=A2ZFJ6P13SC2IB&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pf_rd_t=36701&pf_rd_p=182628c5-bc31-4d16-a82d-3758ab4ea7a9&pf_rd_i=desktopLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/dp/B00CQ7ZXX4/ref=br_msw_pdt-3/139-3602337-8540752?_encoding=UTF8&smid=AQAIDN8YDF665&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pf_rd_t=36701&pf_rd_p=182628c5-bc31-4d16-a82d-3758ab4ea7a9&pf_rd_i=desktopLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Alexa-Voice-Remote-Amazon-Echo/dp/B01E9AHU8Q/ref=br_msw_pdt-4/139-3602337-8540752?_encoding=UTF8&smid=ATVPDKIKX0DER&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pf_rd_t=36701&pf_rd_p=182628c5-bc31-4d16-a82d-3758ab4ea7a9&pf_rd_i=desktopLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/National-Geographic-Partners-LLC-Kids/dp/B000063XJL/ref=br_msw_pdt-5/139-3602337-8540752?_encoding=UTF8&smid=ATVPDKIKX0DER&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pf_rd_t=36701&pf_rd_p=182628c5-bc31-4d16-a82d-3758ab4ea7a9&pf_rd_i=desktopLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Echo-Input-Bring-Alexa-speaker/dp/B07BFRHZLB/ref=br_msw_pdt-6/139-3602337-8540752?_encoding=UTF8&smid=ATVPDKIKX0DER&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pf_rd_t=36701&pf_rd_p=182628c5-bc31-4d16-a82d-3758ab4ea7a9&pf_rd_i=desktopLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Meredith-corporation-EatingWell/dp/B002PXW06C/ref=br_msw_pdt-7/139-3602337-8540752?_encoding=UTF8&smid=ATVPDKIKX0DER&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pf_rd_t=36701&pf_rd_p=182628c5-bc31-4d16-a82d-3758ab4ea7a9&pf_rd_i=desktopLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Glue-Gun-TopElek-Temperature-Projects/dp/B0776MFZ2W/ref=br_msw_pdt-8/139-3602337-8540752?_encoding=UTF8&smid=A24QHZSKPYNZBC&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pf_rd_t=36701&pf_rd_p=182628c5-bc31-4d16-a82d-3758ab4ea7a9&pf_rd_i=desktopLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Anker-Qi-Certified-Compatible-Fast-Charging-PowerWave/dp/B07DBXZZN3/ref=br_msw_pdt-9/139-3602337-8540752?_encoding=UTF8&smid=A294P4X9EWVXLJ&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pf_rd_t=36701&pf_rd_p=182628c5-bc31-4d16-a82d-3758ab4ea7a9&pf_rd_i=desktopLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/dp/B072V18F5L/ref=br_msw_pdt-10/139-3602337-8540752?_encoding=UTF8&smid=A2ETTOG4CF30YM&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pf_rd_t=36701&pf_rd_p=182628c5-bc31-4d16-a82d-3758ab4ea7a9&pf_rd_i=desktopLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Amazon-Echo-Case-fits-Generation/dp/B01K9KW9A4/ref=br_msw_pdt-11/139-3602337-8540752?_encoding=UTF8&smid=ATVPDKIKX0DER&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pf_rd_t=36701&pf_rd_p=182628c5-bc31-4d16-a82d-3758ab4ea7a9&pf_rd_i=desktopLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Athletic-Headband-Lightweight-Headbands-Headscarf/dp/B072S9L5VC/ref=br_msw_pdt-12/139-3602337-8540752?_encoding=UTF8&smid=A2B2XIP6PZE2KY&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pf_rd_t=36701&pf_rd_p=182628c5-bc31-4d16-a82d-3758ab4ea7a9&pf_rd_i=desktopLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Anker-2-Pack-Premium-Samsung-Devices/dp/B07DC54RV7/ref=br_msw_pdt-13/139-3602337-8540752?_encoding=UTF8&smid=A294P4X9EWVXLJ&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pf_rd_t=36701&pf_rd_p=182628c5-bc31-4d16-a82d-3758ab4ea7a9&pf_rd_i=desktopLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Anker-Headphones-Lightweight-Connection-Sweatproof/dp/B01N6DC2ZE/ref=br_msw_pdt-14/139-3602337-8540752?_encoding=UTF8&smid=A294P4X9EWVXLJ&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pf_rd_t=36701&pf_rd_p=182628c5-bc31-4d16-a82d-3758ab4ea7a9&pf_rd_i=desktopLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/dp/B07K8F2K42/ref=br_msw_pdt-15/139-3602337-8540752?_encoding=UTF8&smid=A15VAPJ0NCKQID&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pf_rd_t=36701&pf_rd_p=182628c5-bc31-4d16-a82d-3758ab4ea7a9&pf_rd_i=desktopLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/#Link has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/#Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/b/ref=af_gw_dshov_w_clo_dress?node=18653652011&pd_rd_w=emeEI&pf_rd_p=7157a14a-be8b-4ee5-be6e-8e579c5e6060&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - See more===>OK</td></tr>
<tr><td>https://www.amazon.com/Max-Studio-Womens-Woven-Swirling/dp/B07N1KCGG7?pd_rd_w=emeEI&pf_rd_p=7157a14a-be8b-4ee5-be6e-8e579c5e6060&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Calvin-Klein-Womens-Sleeved-Jersey/dp/B07FYZCLK8?pd_rd_w=emeEI&pf_rd_p=7157a14a-be8b-4ee5-be6e-8e579c5e6060&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Donna-Morgan-Womens-Midi-Length-Jersey/dp/B07G4SR6RN?pd_rd_w=emeEI&pf_rd_p=7157a14a-be8b-4ee5-be6e-8e579c5e6060&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Equipment-Connell-Monocrhome-Leopard-Sandwashed/dp/B07G1RZJ8H?pd_rd_w=emeEI&pf_rd_p=7157a14a-be8b-4ee5-be6e-8e579c5e6060&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/kensie-Womens-Simply-Floral-Dress/dp/B07KDKMS3P?pd_rd_w=emeEI&pf_rd_p=7157a14a-be8b-4ee5-be6e-8e579c5e6060&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Lark-Ro-Quarter-Delicate-X-Small/dp/B07F6QL16F?pd_rd_w=emeEI&pf_rd_p=7157a14a-be8b-4ee5-be6e-8e579c5e6060&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/BCBGMax-Azria-Womens-Ombre-Stripe/dp/B07GXSWVHS?pd_rd_w=emeEI&pf_rd_p=7157a14a-be8b-4ee5-be6e-8e579c5e6060&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Yumi-Kim-Womens-Stargaze-Flower/dp/B07J1T5P7K?pd_rd_w=emeEI&pf_rd_p=7157a14a-be8b-4ee5-be6e-8e579c5e6060&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/findersKEEPERS-Womens-Flutter-Flounce-Shortsleeve/dp/B07B89LSL3?pd_rd_w=emeEI&pf_rd_p=7157a14a-be8b-4ee5-be6e-8e579c5e6060&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Donna-Morgan-Womens-Floral-Orange/dp/B07BW2VCGX?pd_rd_w=emeEI&pf_rd_p=7157a14a-be8b-4ee5-be6e-8e579c5e6060&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Jessica-Howard-Womens-Layered-Flounce/dp/B07DTP6NRJ?pd_rd_w=emeEI&pf_rd_p=7157a14a-be8b-4ee5-be6e-8e579c5e6060&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Shoshanna-Womens-Danna-Sleeve-Shift/dp/B075VFPZ2S?pd_rd_w=emeEI&pf_rd_p=7157a14a-be8b-4ee5-be6e-8e579c5e6060&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/RACHEL-Rachel-Roy-Womens-Shoulder/dp/B0773DM3BD?pd_rd_w=emeEI&pf_rd_p=7157a14a-be8b-4ee5-be6e-8e579c5e6060&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/PAIGE-Womens-Lilou-Dress-Black/dp/B072J5XMW5?pd_rd_w=emeEI&pf_rd_p=7157a14a-be8b-4ee5-be6e-8e579c5e6060&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Donna-Morgan-Womens-Noelle-Chiffon/dp/B073VYCFHP?pd_rd_w=emeEI&pf_rd_p=7157a14a-be8b-4ee5-be6e-8e579c5e6060&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/#Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/#Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/b?node=18502629011&pf_rd_p=0887e039-d447-45b1-b5a4-828864b5ff96&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/b?node=18502623011&pf_rd_p=0887e039-d447-45b1-b5a4-828864b5ff96&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/b?node=18502630011&pf_rd_p=0887e039-d447-45b1-b5a4-828864b5ff96&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/b?node=18502628011&pf_rd_p=0887e039-d447-45b1-b5a4-828864b5ff96&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/b?node=18505532011&pf_rd_p=0887e039-d447-45b1-b5a4-828864b5ff96&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - Shop more solutions by room===>OK</td></tr>
<tr><td>https://www.amazon.com/b?node=18505530011&pf_rd_p=ae2a5d7a-0cdf-4fea-95c1-143cb4349ea8&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/b?node=18505531011&pf_rd_p=ae2a5d7a-0cdf-4fea-95c1-143cb4349ea8&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/b?node=18505534011&pf_rd_p=ae2a5d7a-0cdf-4fea-95c1-143cb4349ea8&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/b?node=18505529011&pf_rd_p=ae2a5d7a-0cdf-4fea-95c1-143cb4349ea8&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/b?node=18505536011&pf_rd_p=ae2a5d7a-0cdf-4fea-95c1-143cb4349ea8&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - More key pieces for the home===>OK</td></tr>
<tr><td>https://www.amazon.com/b?node=517808&pf_rd_p=ceffa80b-9b2a-4cea-a206-ce2e4497d784&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/b?node=517808&pf_rd_p=ceffa80b-9b2a-4cea-a206-ce2e4497d784&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - See more from Amazon Outlet===>OK</td></tr>
<tr><td>https://www.amazon.com/hnd-gateway/b?node=17296439011&pf_rd_p=9747d75d-3467-42f9-8d36-e5f827cdb1be&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/hnd-gateway/b?node=17296440011&pf_rd_p=9747d75d-3467-42f9-8d36-e5f827cdb1be&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/hnd-gateway/b?node=18289155011&pf_rd_p=9747d75d-3467-42f9-8d36-e5f827cdb1be&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/hnd-gateway/b?node=17296452011&pf_rd_p=9747d75d-3467-42f9-8d36-e5f827cdb1be&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/hnd-gateway/b?node=17296384011&pf_rd_p=9747d75d-3467-42f9-8d36-e5f827cdb1be&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - See more===>OK</td></tr>
<tr><td>https://www.amazon.com/Low-Price-With-Free-Shipping/bbp?category=/jewelry&ref_=bbp_bb_afa4ca_in_sh_w_ur_en_US&ingressAsins=B07B4D6SJC,B07G81LLK1,B07HF12ZX2,B07BJ6Y6K3,B07JHG3JGC,B07F85YQW5,B07BMLF1J4,B07BB82QQQ,B07BZLPDH1,B07B4BJDRN,B019DP3FJ0,B07JQBPHW6,B07JN51ZLJ,B07DZQ2DFG,B07JJM28CL,B07KHDNNZ8,B07F7WDLZ6,B07DD9BN6G&pd_rd_w=yd3S3&pf_rd_p=903ba180-151c-4167-ad0d-98fba2434b56&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - See more===>OK</td></tr>
<tr><td>https://www.amazon.com/Loweryeah-Novelty-Enamel-Rainbow-Brooch/dp/B07B4D6SJC?pd_rd_w=yd3S3&pf_rd_p=903ba180-151c-4167-ad0d-98fba2434b56&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Afco-Goldfish-Dangle-Earrings-Christmas/dp/B07HF12ZX2?pd_rd_w=yd3S3&pf_rd_p=903ba180-151c-4167-ad0d-98fba2434b56&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Ameesi-Womens-Fashion-Rhinestone-Jewelry/dp/B07BJ6Y6K3?pd_rd_w=yd3S3&pf_rd_p=903ba180-151c-4167-ad0d-98fba2434b56&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Yeahii-Vintage-Clothing-Decorative-Creative/dp/B07JHG3JGC?pd_rd_w=yd3S3&pf_rd_p=903ba180-151c-4167-ad0d-98fba2434b56&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Aprilery-Vintage-Fashion-Rhombic-Cocktail/dp/B07F85YQW5?pd_rd_w=yd3S3&pf_rd_p=903ba180-151c-4167-ad0d-98fba2434b56&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Loweryeah-Glass-Pendant-Necklace-Jewelry/dp/B07BMLF1J4?pd_rd_w=yd3S3&pf_rd_p=903ba180-151c-4167-ad0d-98fba2434b56&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Loweryeah-Bronze-Infinite-Believe-Leather/dp/B07BB82QQQ?pd_rd_w=yd3S3&pf_rd_p=903ba180-151c-4167-ad0d-98fba2434b56&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Wintefei-Natural-Stretchy-Bangle-Bracelet/dp/B07BZLPDH1?pd_rd_w=yd3S3&pf_rd_p=903ba180-151c-4167-ad0d-98fba2434b56&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Loweryeah-Artificial-Turquoise-Bohemien-Bracelet/dp/B07B4BJDRN?pd_rd_w=yd3S3&pf_rd_p=903ba180-151c-4167-ad0d-98fba2434b56&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Ladies-Plated-Personality-Earrings-Starfish/dp/B019DP3FJ0?pd_rd_w=yd3S3&pf_rd_p=903ba180-151c-4167-ad0d-98fba2434b56&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/ForU-1-Crystal-Brooches-Rhinestone-Goldfish/dp/B07JQBPHW6?pd_rd_w=yd3S3&pf_rd_p=903ba180-151c-4167-ad0d-98fba2434b56&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Quietcloud-10Pcs-Necklace-Bracelet-Pendant/dp/B07JN51ZLJ?pd_rd_w=yd3S3&pf_rd_p=903ba180-151c-4167-ad0d-98fba2434b56&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Wintefei-Fashion-Simple-Stainless-Jewelry/dp/B07DZQ2DFG?pd_rd_w=yd3S3&pf_rd_p=903ba180-151c-4167-ad0d-98fba2434b56&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/buyanputra-Fashion-Zirconia-Rhinestone-Earrings/dp/B07JJM28CL?pd_rd_w=yd3S3&pf_rd_p=903ba180-151c-4167-ad0d-98fba2434b56&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Xeminor-Stockton-Piece-Earrings-silver/dp/B07KHDNNZ8?pd_rd_w=yd3S3&pf_rd_p=903ba180-151c-4167-ad0d-98fba2434b56&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/ShapeW-Irregular-Earrings-Geometric-Mismatch/dp/B07F7WDLZ6?pd_rd_w=yd3S3&pf_rd_p=903ba180-151c-4167-ad0d-98fba2434b56&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/#Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/#Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/gp/redirect.html?_encoding=UTF8&location=https%3A%2F%2Fblog.aboutamazon.com%2Ftransportation%2Fmeet-lucas-the-amazon-prime-truck-kid%3Ftoken%3DGW%26utm_content%3Dprimetruckkid_E%26utm_medium%3Deditorial%26utm_source%3Dgateway%26utm_term%3Dgw02252019&source=standards&token=D32FA826A7D3DB036C1ACB944A32F35B4C36F26F&pf_rd_p=22841278-3abd-4652-9e84-0bbfb5c26d81&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/AmazonBasics-Coiled-Cable-Lightning-Charger/dp/B071KBYFKS?pd_rd_w=58coY&pf_rd_p=7d539c17-075b-400e-a4c3-793dd715436e&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_pop_in_abLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/AmazonBasics-Full-Synthetic-Motor-dexos1-Gen2/dp/B07C5FF8R5?pd_rd_w=58coY&pf_rd_p=7d539c17-075b-400e-a4c3-793dd715436e&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_pop_in_abLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/AmazonBasics-Dual-Port-Charger-Android-Devices/dp/B072C7R4CD?pd_rd_w=58coY&pf_rd_p=7d539c17-075b-400e-a4c3-793dd715436e&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_pop_in_abLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/AmazonBasics-Piece-Car-Floor-Black/dp/B06Y33T99B?pd_rd_w=58coY&pf_rd_p=7d539c17-075b-400e-a4c3-793dd715436e&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_pop_in_abLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/AmazonBasics-AMZ-400-BLP-Camping-Chair/dp/B078H7KPC6?pd_rd_w=58coY&pf_rd_p=7d539c17-075b-400e-a4c3-793dd715436e&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_pop_in_abLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/AmazonBasics-Full-Synthetic-Motor-Plus/dp/B07C5S18M3?pd_rd_w=58coY&pf_rd_p=7d539c17-075b-400e-a4c3-793dd715436e&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_pop_in_abLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/AmazonBasics-Full-Synthetic-Motor-dexos1-Gen2/dp/B07CG384GQ?pd_rd_w=58coY&pf_rd_p=7d539c17-075b-400e-a4c3-793dd715436e&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_pop_in_abLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/AmazonBasics-Universal-Stick-Dashboard-Holder/dp/B07BZPFZDZ?pd_rd_w=58coY&pf_rd_p=7d539c17-075b-400e-a4c3-793dd715436e&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_pop_in_abLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/AmazonBasics-Emergency-Cutter-Window-Hammer/dp/B073JCMTW2?pd_rd_w=58coY&pf_rd_p=7d539c17-075b-400e-a4c3-793dd715436e&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_pop_in_abLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/AmazonBasics-Micro-Universal-Charger-Android/dp/B00Q4LOLRW?pd_rd_w=58coY&pf_rd_p=7d539c17-075b-400e-a4c3-793dd715436e&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_pop_in_abLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/AmazonBasics-Universal-Travel-Electronics-Accessories/dp/B002VPE1QG?pd_rd_w=58coY&pf_rd_p=7d539c17-075b-400e-a4c3-793dd715436e&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_pop_in_abLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/AmazonBasics-Mechanics-Socket-Set-145-Piece/dp/B074MH432L?pd_rd_w=58coY&pf_rd_p=7d539c17-075b-400e-a4c3-793dd715436e&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_pop_in_abLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Amazonbasics-Jumper-Cable-10-Gauge-12-Foot/dp/B074DMCRNF?pd_rd_w=58coY&pf_rd_p=7d539c17-075b-400e-a4c3-793dd715436e&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_pop_in_abLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/AmazonBasics-High-Mileage-Motor-Plus/dp/B07C5X1ZHP?pd_rd_w=58coY&pf_rd_p=7d539c17-075b-400e-a4c3-793dd715436e&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_pop_in_abLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/AmazonBasics-Drying-Chamois-2-Pack/dp/B00EVY344K?pd_rd_w=58coY&pf_rd_p=7d539c17-075b-400e-a4c3-793dd715436e&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_pop_in_abLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/AmazonBasics-Hard-Carrying-Case-5-Inch/dp/B004I5BUSO?pd_rd_w=58coY&pf_rd_p=7d539c17-075b-400e-a4c3-793dd715436e&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_pop_in_abLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/AmazonBasics-Universal-Phone-Holder-2-Pack/dp/B07BZP7T1G?pd_rd_w=58coY&pf_rd_p=7d539c17-075b-400e-a4c3-793dd715436e&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_pop_in_abLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/AmazonBasics-Dashboard-Magellan-Portable-Navigators/dp/B0772CR74K?pd_rd_w=58coY&pf_rd_p=7d539c17-075b-400e-a4c3-793dd715436e&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_pop_in_abLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/AmazonBasics-Piece-Heavy-Floor-Black/dp/B06Y16YVDV?pd_rd_w=58coY&pf_rd_p=7d539c17-075b-400e-a4c3-793dd715436e&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_pop_in_abLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/AmazonBasics-Deluxe-Microfiber-Wash-Mitt/dp/B07145FF4Z?pd_rd_w=58coY&pf_rd_p=7d539c17-075b-400e-a4c3-793dd715436e&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_pop_in_abLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/#Link has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/#Link has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/Mnyycxen-Spinner-Fidget-Stainless-Silver/dp/B07MD48G1Y?pf_rd_p=70b987f5-01d9-4947-bfa2-20b52822d6af&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Loweryeah-Stainless-Personality-Porcelain-Surface/dp/B07BTD5DJW?pf_rd_p=70b987f5-01d9-4947-bfa2-20b52822d6af&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Simple-Fashion-Watch-Stainless-Numeral/dp/B07G95XVYV?pf_rd_p=70b987f5-01d9-4947-bfa2-20b52822d6af&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/RechicGu-Indian-Feather-Bracelet-Armband/dp/B078SQ5B5W?pf_rd_p=70b987f5-01d9-4947-bfa2-20b52822d6af&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Low-Price-With-Free-Shipping/bbp?&ref_=bbp_bb_757550_in_qc_w_na_en_US&ingressAsins=B07MD48G1Y,B07BTD5DJW,B07G95XVYV,B078SQ5B5W,B073XLV8D2,B07JG7RWXB,B0181VN3AS,B07FSZT4RM,B074RHBP1Q&pf_rd_p=70b987f5-01d9-4947-bfa2-20b52822d6af&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - See more===>OK</td></tr>
<tr><td>https://www.amazon.com/b?node=12653393011&pf_rd_p=38a105e1-c352-47de-ae99-b51caaa93e86&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/b?node=12653393011&pf_rd_p=38a105e1-c352-47de-ae99-b51caaa93e86&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - See more from Renewed===>OK</td></tr>
<tr><td>https://www.amazon.com/b?node=17871151011&pf_rd_p=11f7022e-be61-4f26-a2fc-866db6149f92&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/b?node=17871151011&pf_rd_p=11f7022e-be61-4f26-a2fc-866db6149f92&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - See more from Renewed===>OK</td></tr>
<tr><td>https://www.amazon.com/b/ref=0225_en_licensing3?node=17728536011&pf_rd_p=84400a4b-f09d-469d-b554-a1315dd63811&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/b/ref=0225_en_licensing3?node=17728536011&pf_rd_p=84400a4b-f09d-469d-b554-a1315dd63811&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - See more===>OK</td></tr>
<tr><td>https://www.amazon.com/Nintendo-Switch-Neon-Red-Blue-Joy/dp/B01MUAGZ49?pd_rd_w=dW8T7&pf_rd_p=422dc75d-ca8c-4b91-a5fd-ffc9b9ff6463&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Super-Smash-Bros-Ultimate-Nintendo-Switch/dp/B01N5OKGLH?pd_rd_w=dW8T7&pf_rd_p=422dc75d-ca8c-4b91-a5fd-ffc9b9ff6463&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Pokemon-Sword-Nintendo-Switch/dp/B07PC7X38X?pd_rd_w=dW8T7&pf_rd_p=422dc75d-ca8c-4b91-a5fd-ffc9b9ff6463&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Nintendo-Switch-Pro-Controller/dp/B01NAWKYZ0?pd_rd_w=dW8T7&pf_rd_p=422dc75d-ca8c-4b91-a5fd-ffc9b9ff6463&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/New-Super-Mario-Bros-Deluxe-Nintendo/dp/B07HCZ7LPW?pd_rd_w=dW8T7&pf_rd_p=422dc75d-ca8c-4b91-a5fd-ffc9b9ff6463&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Fire-TV-Stick-with-All-New-Alexa-Voice-Remote/dp/B0791TX5P5?pd_rd_w=dW8T7&pf_rd_p=422dc75d-ca8c-4b91-a5fd-ffc9b9ff6463&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/Super-Mario-Maker-2-Nintendo-Switch/dp/B07NQDG7RQ?pd_rd_w=dW8T7&pf_rd_p=422dc75d-ca8c-4b91-a5fd-ffc9b9ff6463&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Nintendo-Switch-Neon-eShop-Credit-Download/dp/B07MG9RKYY?pd_rd_w=dW8T7&pf_rd_p=422dc75d-ca8c-4b91-a5fd-ffc9b9ff6463&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/Nintendo-Switch-Gray-Joy/dp/B01LTHP2ZK?pd_rd_w=dW8T7&pf_rd_p=422dc75d-ca8c-4b91-a5fd-ffc9b9ff6463&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/PlayStation-4-Slim-1TB-Console/dp/B071CV8CG2?pd_rd_w=dW8T7&pf_rd_p=422dc75d-ca8c-4b91-a5fd-ffc9b9ff6463&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Mario-Kart-8-Deluxe-Nintendo-Switch/dp/B01N1037CV?pd_rd_w=dW8T7&pf_rd_p=422dc75d-ca8c-4b91-a5fd-ffc9b9ff6463&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Pokemon-Shield-Nintendo-Switch/dp/B07P5TL4SH?pd_rd_w=dW8T7&pf_rd_p=422dc75d-ca8c-4b91-a5fd-ffc9b9ff6463&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/Super-Mario-Party-Nintendo-Switch/dp/B07DJY81FP?pd_rd_w=dW8T7&pf_rd_p=422dc75d-ca8c-4b91-a5fd-ffc9b9ff6463&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/Minipresso-Gr-Portable-Espresso-Maker/dp/B07MRHSKDC?pd_rd_w=dW8T7&pf_rd_p=422dc75d-ca8c-4b91-a5fd-ffc9b9ff6463&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/Yoshis-Crafted-World-Nintendo-Switch/dp/B072JYTJCH?pd_rd_w=dW8T7&pf_rd_p=422dc75d-ca8c-4b91-a5fd-ffc9b9ff6463&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/amFilm-Tempered-Screen-Protector-Nintendo-Switch/dp/B01N3ASPNV?pd_rd_w=dW8T7&pf_rd_p=422dc75d-ca8c-4b91-a5fd-ffc9b9ff6463&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/Marvels-Spider-Man-PlayStation-4/dp/B01GW8YDLK?pd_rd_w=dW8T7&pf_rd_p=422dc75d-ca8c-4b91-a5fd-ffc9b9ff6463&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Legend-Zelda-Breath-Wild-Nintendo-Switch/dp/B01MS6MO77?pd_rd_w=dW8T7&pf_rd_p=422dc75d-ca8c-4b91-a5fd-ffc9b9ff6463&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/Elgato-Stream-Deck-Controller-Customizable/dp/B06XKNZT1P?pd_rd_w=dW8T7&pf_rd_p=422dc75d-ca8c-4b91-a5fd-ffc9b9ff6463&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/PlayStation-4-Pro-1TB-Console/dp/B01LOP8EZC?pd_rd_w=dW8T7&pf_rd_p=422dc75d-ca8c-4b91-a5fd-ffc9b9ff6463&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/#Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/#Link has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/b?ie=UTF8&node=17895003011&pd_rd_w=z4DHc&pf_rd_p=d3ff7606-7199-4015-aca7-f6039cb67bae&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - See more===>OK</td></tr>
<tr><td>https://www.amazon.com/HP-14-inch-Processor-Personal-14-cb190nr/dp/B07DKQHJ6D?pd_rd_w=z4DHc&pf_rd_p=d3ff7606-7199-4015-aca7-f6039cb67bae&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/Caseology-Skyfall-iPhone-XR-Case/dp/B07GF1TQ1Q?pd_rd_w=z4DHc&pf_rd_p=d3ff7606-7199-4015-aca7-f6039cb67bae&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/Garmin-Echomap-Chirp-transducer-010-01805-01/dp/B01M25ZGPC?pd_rd_w=z4DHc&pf_rd_p=d3ff7606-7199-4015-aca7-f6039cb67bae&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/Anker-Charger-Ultra-Compact-PowerDrive-Technology/dp/B01MY9ZGHH?pd_rd_w=z4DHc&pf_rd_p=d3ff7606-7199-4015-aca7-f6039cb67bae&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/AmazonBasics-K690-Gaming-Keyboard/dp/B073VS6WNZ?pd_rd_w=z4DHc&pf_rd_p=d3ff7606-7199-4015-aca7-f6039cb67bae&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/ROCCAT-KONE-Pure-OWL-Eye-Optical/dp/B071164BZT?pd_rd_w=z4DHc&pf_rd_p=d3ff7606-7199-4015-aca7-f6039cb67bae&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/VicTsing-Upgraded-Bluetooth-Transmitter-Wireless/dp/B073D294M5?pd_rd_w=z4DHc&pf_rd_p=d3ff7606-7199-4015-aca7-f6039cb67bae&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/Anker-Upgraded-Candy-Bar-High-Speed-Technology/dp/B06XS9RMWS?pd_rd_w=z4DHc&pf_rd_p=d3ff7606-7199-4015-aca7-f6039cb67bae&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/Cobra-CX312-Walkie-Talkie-Two-Way-Radio/dp/B00BKV3FQY?pd_rd_w=z4DHc&pf_rd_p=d3ff7606-7199-4015-aca7-f6039cb67bae&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Monoprice-Cat5e-Ethernet-Patch-Cable/dp/B00ACR5P60?pd_rd_w=z4DHc&pf_rd_p=d3ff7606-7199-4015-aca7-f6039cb67bae&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Samsung-AA59-00785A-Remote-Control/dp/B00DP61U46?pd_rd_w=z4DHc&pf_rd_p=d3ff7606-7199-4015-aca7-f6039cb67bae&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Uniden-Cam945-Automotive-Discontinued-Manufacturer/dp/B00TIYPO8W?pd_rd_w=z4DHc&pf_rd_p=d3ff7606-7199-4015-aca7-f6039cb67bae&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/Computer-speakers-Cyber-Acoustics-CA-2050/dp/B0145MFK1C?pd_rd_w=z4DHc&pf_rd_p=d3ff7606-7199-4015-aca7-f6039cb67bae&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/IOGEAR-Active-Displayport-Adapter-GMDPDVI4KA/dp/B07579XXLR?pd_rd_w=z4DHc&pf_rd_p=d3ff7606-7199-4015-aca7-f6039cb67bae&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/TracFone-Motorola-Moto-Prepaid-Smartphone/dp/B07GC5QKW3?pd_rd_w=z4DHc&pf_rd_p=d3ff7606-7199-4015-aca7-f6039cb67bae&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/EchoMaster-PCam-201-N-Lip-Mount-Selectable-Parking/dp/B071ZZYKM7?pd_rd_w=z4DHc&pf_rd_p=d3ff7606-7199-4015-aca7-f6039cb67bae&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_unkLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/#Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/#Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/b/ref=0311_en_desktopTOTY1?node=16048923011&pf_rd_p=5293e0d6-0298-412f-942d-4b30f7d6ccfc&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/b/ref=0311_en_desktopTOTY1?node=16048923011&pf_rd_p=5293e0d6-0298-412f-942d-4b30f7d6ccfc&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - See more===>OK</td></tr>
<tr><td>https://www.amazon.com/b/ref=0225_en_Other3?node=165793011&pf_rd_p=164f7761-7c30-47a4-b4af-679c7db1d01a&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/b/ref=0225_en_Other3?node=165793011&pf_rd_p=164f7761-7c30-47a4-b4af-679c7db1d01a&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - See more===>OK</td></tr>
<tr><td>https://www.amazon.com/b?node=18505531011&pf_rd_p=bdf76ca5-4f91-4457-9824-72a4d3cc84fc&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/b?node=18505531011&pf_rd_p=bdf76ca5-4f91-4457-9824-72a4d3cc84fc&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - Shop tools and appliances===>OK</td></tr>
<tr><td>https://www.amazon.com/b/ref=0311_en_Licensing1?node=17728536011&pf_rd_p=74bbb61f-d687-4879-aca6-2e4f5fa3b7c3&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/b/ref=0311_en_Licensing1?node=17728536011&pf_rd_p=74bbb61f-d687-4879-aca6-2e4f5fa3b7c3&pf_rd_r=9CMM78KTVTFTT1GQP9D9Link has text - See more===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/Cottonelle-FreshCare-Flushable-Resealable-Packaging/dp/B07B46WWN2?pd_rd_w=153b0&pf_rd_p=79464be7-2383-4c19-ae32-3306da39f0d6&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/ODODOS-Control-Workout-Running-Leggings/dp/B07BYKLLZN?pd_rd_w=153b0&pf_rd_p=79464be7-2383-4c19-ae32-3306da39f0d6&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Fit-Simplify-Resistance-Exercise-Instruction/dp/B01AVDVHTI?pd_rd_w=153b0&pf_rd_p=79464be7-2383-4c19-ae32-3306da39f0d6&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/AmazonBasics-High-Density-Roller-Speckled-Colors/dp/B018KFP8E4?pd_rd_w=153b0&pf_rd_p=79464be7-2383-4c19-ae32-3306da39f0d6&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/AmazonBasics-Neoprene-Dumbbells/dp/B073CT2YS5?pd_rd_w=153b0&pf_rd_p=79464be7-2383-4c19-ae32-3306da39f0d6&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/HOMAR-Tie-Shoelaces-Kids-Adults/dp/B07KG49VKN?pd_rd_w=153b0&pf_rd_p=79464be7-2383-4c19-ae32-3306da39f0d6&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/BuildLife-Motivational-Fitness-Workout-BPA-Free/dp/B07HY3VCC3?pd_rd_w=153b0&pf_rd_p=79464be7-2383-4c19-ae32-3306da39f0d6&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/90-Degree-Reflex-Legging-Control/dp/B07C2PFHRX?pd_rd_w=153b0&pf_rd_p=79464be7-2383-4c19-ae32-3306da39f0d6&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/Hanes-Pullover-EcoSmart-Fleece-Sweatshirt/dp/B07PBY2Y5V?pd_rd_w=153b0&pf_rd_p=79464be7-2383-4c19-ae32-3306da39f0d6&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Dickies-Multi-Pack-Dri-Tech-Moisture-Control/dp/B07B6KGQBZ?pd_rd_w=153b0&pf_rd_p=79464be7-2383-4c19-ae32-3306da39f0d6&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/CamelBak-eddy-Kids-Water-Bottle/dp/B00PUDI2Z2?pd_rd_w=153b0&pf_rd_p=79464be7-2383-4c19-ae32-3306da39f0d6&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/BalanceFrom-All-Purpose-Anti-Tear-Exercise-Carrying/dp/B017198D8S?pd_rd_w=153b0&pf_rd_p=79464be7-2383-4c19-ae32-3306da39f0d6&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Mpow-Bluetooth-Headphones-Waterproof-Cancelling/dp/B0753GRNQZ?pd_rd_w=153b0&pf_rd_p=79464be7-2383-4c19-ae32-3306da39f0d6&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/Hanes-Mens-Ecosmart-Fleece-Sweatshirt/dp/B01L8JJ1GK?pd_rd_w=153b0&pf_rd_p=79464be7-2383-4c19-ae32-3306da39f0d6&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Hydro-Flask-Double-Insulated-Stainless/dp/B01GW2GH4M?pd_rd_w=153b0&pf_rd_p=79464be7-2383-4c19-ae32-3306da39f0d6&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/IYOU-Sport-Compatible-Silicone-Replacement/dp/B07GRQ7J3F?pd_rd_w=153b0&pf_rd_p=79464be7-2383-4c19-ae32-3306da39f0d6&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/Aegend-Swimming-Protection-Triathlon-Multiple/dp/B01N43LYFS?pd_rd_w=153b0&pf_rd_p=79464be7-2383-4c19-ae32-3306da39f0d6&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/LETSCOM-Fitness-Activity-Waterproof-Pedometer/dp/B07GCM9N72?pd_rd_w=153b0&pf_rd_p=79464be7-2383-4c19-ae32-3306da39f0d6&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/Native-Kids-Jefferson-Slip-On-Sneaker/dp/B004QWYCVG?pd_rd_w=153b0&pf_rd_p=79464be7-2383-4c19-ae32-3306da39f0d6&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>Service Unavailable</td></tr>
<tr><td>https://www.amazon.com/VIFUUR-Water-Sports-Barefoot-Quick-Dry/dp/B07JPYSNDP?pd_rd_w=153b0&pf_rd_p=79464be7-2383-4c19-ae32-3306da39f0d6&pf_rd_r=9CMM78KTVTFTT1GQP9D9&pd_rd_r=42a292a3-9636-4c54-97db-ecb5fb3648ad&pd_rd_wg=BoLJh&ref_=pd_gw_riLink has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/#Link has text - ===>OK</td></tr>
<tr><td>https://www.amazon.com/#Link has text - ===>OK</td></tr>
</table>