<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="acb575">  <td>19/02/05 23:17:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;googlereg.beforeMethod()[pri:0, instance:com.bootcamp2018.test.google.googlereg@56f4468b]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="acb575">  <td>19/02/05 23:17:09</td>   <td>7015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="googlereg.login(java.lang.String, java.lang.String)[pri:0, instance:com.bootcamp2018.test.google.googlereg@56f4468b]">login</td> 
  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="acb575">  <td>19/02/05 23:17:19</td>   <td>16836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;googlereg.afterMethod()[pri:0, instance:com.bootcamp2018.test.google.googlereg@56f4468b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
</table>
