<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Default suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="81b0a2">  <td>19/03/16 09:41:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageLinks.before()[pri:0, instance:com.crm.qa.testCases.HomePageLinks@6a41eaa2]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>19/03/16 09:41:45</td>   <td>8997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageLinks.printLinks()[pri:0, instance:com.crm.qa.testCases.HomePageLinks@6a41eaa2]">printLinks</td> 
  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>19/03/16 09:43:38</td>   <td>121867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageLinks.after()[pri:0, instance:com.crm.qa.testCases.HomePageLinks@6a41eaa2]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@101478235</td>   <td></td> </tr>
</table>
