<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fb9ab6">  <td>19/03/12 00:09:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;getApiTest.setUp()[pri:0, instance:ApiSampleTest.getApiTest@66a3ffec]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>19/03/12 00:09:02</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="getApiTest.getTestWithHeaders()[pri:0, instance:ApiSampleTest.getApiTest@66a3ffec]">getTestWithHeaders</td> 
  <td>main@540159270</td>   <td></td> </tr>
</table>
