<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d9cb5">  <td>19/02/17 22:41:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginErrorMsg.CheckErrMsg()[pri:0, instance:com.bootcamp.test.ebay.LoginErrorMsg@9597028]">CheckErrMsg</td> 
  <td>main@817978763</td>   <td></td> </tr>
<tr bgcolor="9d9cb5">  <td>19/02/17 22:41:21</td>   <td>9133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginErrorMsg.CloseTheBrowser()[pri:0, instance:com.bootcamp.test.ebay.LoginErrorMsg@9597028]">&lt;&lt;CloseTheBrowser</td> 
<td>&nbsp;</td>  <td>main@817978763</td>   <td></td> </tr>
<tr bgcolor="9d9cb5">  <td>19/02/17 22:41:06</td>   <td>-6150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginErrorMsg.LaunchTheBrowser()[pri:0, instance:com.bootcamp.test.ebay.LoginErrorMsg@9597028]">&gt;&gt;LaunchTheBrowser</td> 
<td>&nbsp;</td>  <td>main@817978763</td>   <td></td> </tr>
</table>
